<h3>Edit a Song</h3>
<%= form_for @song do |f| %>
    <p>Enter Song's New Name: <%= f.text_field :name, placeholder: "new name" %></p>
    <p>Explicit             : <%= f.check_box :explicit %></p>
    <p>Enter New Album_id   :<%= f.text_field :album_id %></p>
    <p>Enter New Genre      :<%= f.text_field :genre, placeholder: "new genre" %></p>
    
    <%= f.submit %>
<% end %>