<div class="criarMusica">
  <p id="notice"><%= flash[:notice] %></p>

  <h1 class="fonteh1"> Escute suas músicas preferidas onde quiser. </h1>

  <table>
    <thead>
      <tr class="">
        <th scope="col" class="text-center"><i class="fa fa-music col-1" aria-hidden="true"></i></th>
        <th scope="col">Nome</th>
        <th scope="col">Album</th>
      </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
          <% if @current_user.role_id == 2 %>
            <% if @favorites.where(song: song).present? %> 
              <td  class="text-center"><%= link_to "<i class='fa fa-heart'></i>".html_safe, favoritesong_path(@favorites.where(song_id: song.id, listener_id: @listener).ids), method: 'delete', style: 'color:black;'  %></td>
            <% else %>
              <td  class="text-center"><%= link_to "<i class='fa fa-heart-o'></i>".html_safe, favoritesongs_path(favorite:{song_id: song.id, listener_id: current_user.listener.id}), method: :post, style: 'color:black;'  %></td>
            <% end %>
          <% else %>
            <td scope="row" class="text-center"><i class="fa fa-music" aria-hidden="true"></i></td>
          <% end %>
          <td><%= link_to song.name, song_path(song), style: 'color:black;' %></td>
          <td><%= link_to song.album.name, album_path(song.album), style: 'color:black;' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="espaco1"></div>
</div>