<p id="notice"><%= flash[:notice] %></p>

<h1> Songs </h1>

<table>
  <% @songs.each do |song| %>
    <tr>
      <td><div id="song-<%= song.id %>"><i class="fa fa-heart-o p-1"></i></div></td>
      <td><%= link_to song.name, song_path(song) %></td>
      <td><%= link_to song.album.name, album_path(song.album) %></td>
      <td><%= button_to 'Edit', edit_song_path(song), method: 'get'%></td>
      <td><%= button_to 'Remove', song_path(song), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<p> <%= link_to "Add a New Song", new_song_path %> </p>
<p> <%= link_to "Go to Albums", albums_path %> </p>