<div class="editarMusica linhas">
    <h2 class="font-weight-bold pb-2">NAME: <%= @song.name %></h2>
    <h2 class="font-weight-bold pb-2">Explicit: <%= @song.explicit %></h2>
    <h2 class="font-weight-bold pb-2">Album: "<%= @song.album.name %>"</h2>
    <h2 class="font-weight-bold pb-2">Genre: "<%= @song.genre %>"</h2>

    <p class="pb-1"><%= audio_tag (url_for(@song.file)), controls: true %></p>
    <p class="pb-1"><%= button_to "All Songs", songs_path, method: :get %></p>
    <p class="pb-1"><%= button_to "Edit Song", edit_song_path(@song), method: :get %></p>
    <p class="pb-1"><%= button_to 'Remove Song', song_path(@song), method: 'delete', data: { confirm: 'Are you sure?' } %></p>
</div>