<div class="criarAlbum">
    <h1 class="text-light font-weight-bold">Criar an Album</h1>
    <%= form_for @album do |f| %>
        <p><h2 class="text-light font-weight-bold">Nome do Album: <%= f.text_field :name, placeholder: "album ... " %></h2></p>
        <p><h2 class="text-light font-weight-bold">Id do Artista: <%= f.text_field :artist_id, placeholder: "artist ... " %></h2></p>
        <p><h2 class="text-light font-weight-bold">Foto do Album: <%= f.file_field :photo %></h2></p>
        <%= f.submit 'Create Album', :class => 'button button1 '%>
    <% end %>
</div>
