<div class="catapimbas">
<div class="espaco1"></div>
<p id="notice text-light"><%= flash[:notice] %></p>
<div class="organizar1">
      <h1 class="text-light font-weight-bold">Monte suas próprias playlist.</h1>
      <p><h2> <%= link_to "Nova Playlist", new_playlist_path, style: 'color:#FFFFFF;' %> </h2></p>
    </div>
       
<!-- Playlist -->
<div class="container text-monospace playlist p-2">
  <table>
    <% @playlists.each do |playlist| %>
      <tr class="bordinhaTop">
        <td class="col"><%= link_to playlist.name, playlist_path(playlist), :style=> 'color:#FFFFFF;', :class => 'fonteLink' %></td>
        <td class="col"><%= link_to 'Editar', edit_playlist_path(playlist), method: 'get', :class=>'btn btn-outline-secondary btn-lg'%></td>
        <td class=""><%= link_to 'Remover', playlist_path(playlist), method: 'delete', data: { confirm: 'Você tem certeza?' }, :class=>'btn btn-outline-secondary btn-lg' %></td>
    <% end %>
  </table>
  </div>
    
</div>


