
<div class="catapimbas pt-5">
<div class="espaco1"></div>
<p id="notice text-light" class="pt-5"><%= flash[:notice] %></p>

<!-- Artista -->
<div class="container artista text-monospace text-light p-4">
    <div class="row">
        <div class="col-2">
            <img src="" id="imagem" alt="Foto Perfil" class="img-thumbnail" width="90px" height="90px">
        </div>
        <div class="col-9" >
            <h2><%= @current_user.name %></h2>
            <h4><%= @current_user.email %></h4>
        </div>
    </div>
</div>
<div class="espaco1"></div>
       
<!-- Playlist -->
<div class="container text-monospace playlist p-2">
  <table>
    <% @playlists.each do |playlist| %>
      <tr>
        <td><%= link_to playlist.name, playlist_path(playlist) %></td>
        <td><%= playlist.listener.user.name %></td>
        <td><%= button_to 'Editar', edit_playlist_path(playlist), method: 'get'%></td>
        <td><%= button_to 'Remover', playlist_path(playlist), method: 'delete', data: { confirm: 'Você tme certeza?' } %></td>
    <% end %>
  </table>
  </div>
    <div class="organizar">
      <h1 class="text-light font-weight-bold">Monte suas próprias playlist.</h1>
      <p><h2> <%= link_to "Nova Playlist", new_playlist_path, style: 'color:#FFFFFF;' %> </h2></p>
    </div>
</div>


