<div class="showPlay">
    <div class="telaShow">
        <h1 class=texto>Bem vindo à Playlist: <%= @playlist.name %></h2>
    </div>
    <div class="container text-monospace playlist p-3">
        <table class="table text-light">
            <h2 class="nnn"> Músicas </h2>
                <% @playlist.song_playlists.each do |sp| %>
                    <tr class="">
                        <td class="textoLista"><%= sp.song.name %></td>
                        <td><%= audio_tag (url_for(sp.song.file)), controls: true, class:'song' %></td>
                        <% if @current_user.listener.id == @playlist.listener.id %>
                            <td class="textoLista butbut"><%= link_to "<i class='fa fa-trash-o textoLista1'></i>".html_safe, songplaylist_path(sp), method: :delete %></td>
                        <% end %>
                    </tr>
                <% end %>  
        </table> 
        <%= link_to "Registrar nova musica", new_songplaylist_path, method: :get, :class=>'btn btn-outline-secondary btn-lg' %>
    </div>  
</div>
