<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
<script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 800
    });
</script>
<body>

<%= render 'layouts/infobar' %>

<div class="container-fluid">

  <section id="video">
    <div class="video-background">
      <div class="video-wrap">
        <div id="video">
          <video id="bgvid" autoplay loop muted playsinline>
            <source src="<%=video_path "firewatch-ambience.mp4"%>" type="video/mp4">
            <!-- src="video_path "firewatch-ambience.mp4"%>" https://r4---sn-bg07dnz7.googlevideo.com/videoplayback?expire=1594261858&ei=Ai0GX424J4SUyQWph5PICA&ip=77.243.119.51&id=o-AONHlLYQOuc2LzA7i7YxBMt_Qrc5EAAGtu5URi5NM36c&itag=137&aitags=133%2C134%2C135%2C136%2C137%2C160%2C242%2C243%2C244%2C247%2C248%2C278&source=youtube&requiressl=yes&vprv=1&mime=video%2Fmp4&gir=yes&clen=73966744&dur=221.566&lmt=1455506348416294&fvip=4&keepalive=yes&c=WEB&sparams=expire%2Cei%2Cip%2Cid%2Caitags%2Csource%2Crequiressl%2Cvprv%2Cmime%2Cgir%2Cclen%2Cdur%2Clmt&sig=AOq0QJ8wRAIgEul4ukNzCIhckxy8kLlu6KHz0IvFLZxTTk-0Sq2ooZUCIHrMWF0c_u8VZo5I2KkfuD6lfDriTvoBAHsT2hXY5m6J&video_id=2vEO27QMl7g&title=Other+Places-+Shoshone+National+Forest+%28Firewatch%29&rm=sn-pgxo-p3ue7l&req_id=717eac8e5f28a3ee&redirect_counter=2&cm2rm=sn-n8vrs7z&cms_redirect=yes&mh=xw&mip=2804:14c:658c:4722:2578:bf9:a47c:8c20&mm=34&mn=sn-bg07dnz7&ms=ltu&mt=1594240226&mv=m&mvi=4&pl=48&lsparams=mh,mip,mm,mn,ms,mv,mvi,pl&lsig=AG3C_xAwRQIhAOpL-DvLeo9FpEa5hmP_vy5ElbAsirEXMYAlwEFO4ZcyAiAk_OU9REiNcwNEW0qz1zHPGZrIiNBiJxuHzoXsV0wFlQ%3D%3D -->
          </video>
        </div>
      </div>
    </div>

    <div class="caption text-center">
      <h1>AMADEUS</h1>
      <h3>O pináculo do Streaming Independente.</h3>
      <a class="btn btn-outline-light" href="#sobre">Saiba Mais »</a>
    </div>

  </section>

<!--
    paragrafo SOBRE O PROJETO
   cards CONHECA O TIME

   -->


  <section id="sobre">
    <div class="container-fluid">
      <div class="row justify-content-center h-100">
        <div class="col"></div>
        <div class="col-7 m-auto">
          <p style="color:#FFFFFF">Celo, você é foda
          Dez mil sozinho num mês
          Continuo independente
          Eu vim de baixo, talvez
          Não tinha tido minha vez
          Se tivesse ouvido aqueles
          Que não queriam meu bem
          Eles não querem seu bem
          Ouro e prata no meu dente
          O futuro de presente
          Gelo de coco e uma bitch
          Todos meus manos quase ricos
          Show toda semana, cash
          Eu 'to viciado em dinheiro
          Acostumado com as fotos
          Não me preocupo com os falsos
          Subo nas coisas porque eu posso
          Faço dinheiro porque eu posso
          Alguns se chamando de trapstar
          Usando dinheiro dos seus pais
          Eu sei que é foda de criticar
          Bro, eu não preciso de empresário
          No último mês não fumei seda
          O patrocínio do som me mandou blunts
          Vem sobrando dinheiro pros blunts
          Incrível, as coisas tem mudado
          Nome dos amigos, comentado
          E agora eles sabem quem é o raro
          E o meu carro novo na pista faz skr skr skr
          200 por hora
          E meu inimigos na duvida desacredita
          Perderam a aposta
          777, é só número multipliquei todos na minha conta
          Gang gang bro pus nomes no jogo eu fiz isso pela minha mob, yeah
          FERNVNDX Clothing
          O Brasil inteiro esperando drop
          O drop novo eu vou mandar pro Hoffman
          Ele tem um plug, que é carioca
          Bebendo lean, bebendo lean
          Trancado no estúdio produzindo um beat
          Gravando um hit coração a zero
          Mano, eu 'to gelado
          Faz frio, faz sol
          E eu de diamante
          VVS no meu pulso brilha
          Cor de ouro, metanfetamina
          Zero graus, bro, eu tenho joias agora
          E eu não comprei em duas vezes
          Eu vim de tão baixo e eu tinha tão pouco
          Eu segui focado e eu mudei o jogo (prr)
          Dez mil sozinho num mês
          Continuo independente
          Eu vim de baixo, talvez
          Não tinha tido minha vez
          Se tivesse ouvido aqueles
          Que não queriam meu bem
          Eles não querem seu bem
          Ouro e prata no meu dente
          O futuro de presente
          Gelo de coco e uma bitch
          Todos meus manos quase ricos
          Show toda semana, cash
          Eu 'to viciado em dinheiro
          Acostumado com as fotos
          Não me preocupo com os falsos
          Subo nas coisas porque eu posso
          Ey, Raffa
          Celo, você é foda</p>
        </div>
        <div class="col-4 m-auto">
          <h1 style="color: #FFFFFF;">SOBRE O PROJETO</h1>
        </div>
      </div>
    </div>

  </section>

  <section id="equipe">
    <div class="card-container">
      <div class="col-4"><h1 style="color: #FFFFFF;">CONHEÇA A EQUIPE</h1></div>

        <div class="col" id="card1">
          <%= render "layouts/cards/pedro" %>
        </div>

        <div class="col" id="card2">
          <%= render "layouts/cards/edu" %>
        </div>

        <div class="col" id="card3">
          <%= render "layouts/cards/kayran" %>
        </div>

      </div>
    </div>
  </section>

</div>

</body>
